*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
     background-image: url("pexels-troy-squillaci-1303476-2516588.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.2);
}

@media(max-width: 768px){
    body{
        background-size: cover;
        background-position: center;
    }
}

header{
    width: 100%;
    height: 70px;
    color:  white;
    /*background-color: rgba(255, 255, 255, 0.2);*/
 /* backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    filter: brightness(100%);
}

.container_1 .logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border: black 1px solid;
    align-items: center;
}

.container_1 .logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
   align-items: center;

}

.container_1 p{
    display: none;
}

.container_1{
    display: flex;
    align-items: center;
    justify-content: space-between;   

}

.container_1 .menu-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.container_1 .sec {
    display: flex;
    gap: 16px;
}

.container_1 .signin{
    margin-right: 20px;

}

.container_1 .signin button{
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
    
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.4s ease;
}

.container_1 .signin button:hover{
    transform: scale(1.1);
}

.container_1 .signin button a{
    text-decoration: none;
    list-style: none;
    color: white;
}


.container_1 .sec a {
     color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border: 1px color blue;
    transition: background-color 0.5s ease;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .container_1 .sec {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .container_1 p{
        display: block;
    }

    .container_1 .sec.active {
        display: flex;
    }

    .container_1 .menu-button {
        display: block;
        padding-right: 20px;
    }
    
    .container_1 .sec a {
        color: white;
    }

    .container_1 .signin{
        display: none;
    }
}

.container_1 .sec a:hover {
    background-color: rgba(0,0,0,0.3);
    
    transform: scale(1.1);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);


}




.white-box{
    
    width: 98%;
    margin: 50px auto 0 auto;
    padding-bottom: 40px;
    border-radius: 10px;
    margin-bottom: 50px;
    
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
     background-color: rgba(0, 0, 0, 0); 
    /* backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(10px);
*/    color: white;
}



.white-box  p{
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
    padding: 20px;
    color: white;
    
}

.white-box img{
    background-size: cover;
    height: 550px;
    width: 450px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    filter: brightness(50%);

}


.white-box .heading{
    display: flex;
    justify-content: center;
    
}

.white-box p{
    position: absolute;
    top: 38%;
    left: 23%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    z-index: 1;
}

.login-container{
      background-color:rgba(0, 0, 0, 0.329);
      padding: 30px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      width: 380px;
      filter: brightness(100%);
}

.login-container h2{
    color: white;
    
    margin-bottom: 15px;
}
.rinl-footer h2{
      text-align: center;
      color: #000;
      margin-bottom: 25px;
}
input[type="text"],
input[type="password"] {
      width: 100%;
      color: black;
      padding: 10px;
      margin-top: 8px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
}


.login-container .error{
    font-size: 13px;
    font-weight: 500;
    color: white;
    display: none;

}

.login-container .login{
    width: 100%;
    padding-top: 10px;
    font-size: 18px;
    background-color: rgb(0, 0, 131);
    color: white;
    padding-bottom: 10px;
    border: none;
    margin-top: 70px;
}

.login-container .error{
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    margin-top: 70px;
}



.login-container label{
    color: white;
}

.white-box .hello{
        display: block;
}

.white-box .heading img{
        display: block;
}



@media(max-width: 800px){
    .white-box .hello{
        display: none;
    }

    .white-box .heading img{
        display: none;
    }

    .login-container{
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
    }

}


.rinl-footer {
  background-color: #000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
 
  padding: 40px;
}

.rinl-footer .footer-section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rinl-footer .footer-section  h2{
    color: white;
    font-weight: 500;
    margin-bottom: -5px;
}

.rinl-footer a {
  color: #dddddd;
  text-decoration: none;
  margin: 0 8px;
  font-size: 13px;
  margin-top: 10px;
}

.rinl-footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}




@media(max-width: 768px){
    .rinl-footer{
       flex-direction: column;    
    }
}
