*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
     background-image: url("plant.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media(max-width: 768px){
    body{
        background-size: cover;
        background-position: center;
    }
}

header{
    width: 100%;
    height: 70px;
    color:  white;
    background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_1 .logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border: black 1px solid;
    align-items: center;
}

.container_1 .logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
   align-items: center;

}

.container_1 p{
    display: none;
}

.container_1{
    display: flex;
    align-items: center;
    justify-content: space-between;   

}

.container_1 .menu-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.container_1 .sec {
    display: flex;
    gap: 16px;
}

.container_1 .signin{
    margin-right: 20px;

}

.container_1 .signin button{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
    
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.4s ease;
}

.container_1 .signin button:hover{
    transform: scale(1.1);
}

.container_1 .signin button a{
    text-decoration: none;
    list-style: none;
    color: white;
}


.container_1 .sec a {
     color: white;
        padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border: 1px color blue;
    transition: background-color 0.5s ease;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .container_1 .sec {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .container_1 p{
        display: block;
    }

    .container_1 .sec.active {
        display: flex;
    }

    .container_1 .menu-button {
        display: block;
        padding-right: 20px;
    }
    
    .container_1 .sec a {
        color: white;
    }

    .container_1 .signin{
        display: none;
    }
}

.container_1 .sec a:hover {
    background-color: rgba(0,0,0,0.3);
    
    transform: scale(1.1);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);


}

.circle{
   width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;              
    align-items: center;        
    justify-content: space-evenly;
    transition: all 0.3s ease;   
}

.circle:hover{
    transform: scale(1.2);
}

.circle1{
    background-color:green;
    color: white;
}



.circle2{
    background-color: blue;
    color: white;
}

section .ball {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    padding: 10px;
}


section .ball .ball1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
}


section .ball p {
    margin-top: 10px;
    font-weight: 500;
    color:white;
}

@media (max-width: 800px) {
    section .ball {
        gap: 20px;
    }

    section .ball .ball1 {
        width: 100px;
    }

    .circle {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
}


.white-box{
    
    width: 98%;
    margin: 50px auto 0 auto;
    padding-bottom: 40px;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(10px);
  color: white;
  margin-bottom: 40px;
}

.white-box .main2{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.white-box .main2 .sec1{
    background-color: rgba(0,255,0,0.1);
    border-radius: 10px; 
    color: white;
    width: 40%;


}

.white-box .main2 .sec1 p{
    background-color: rgba(0,255,0,0.3);
    font-size: 20px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(9, 236, 9);
    font-weight: 600;
}

.white-box .main2 .sec1 ul{
    
    font-size: 15px;
    margin-top: 25px;
    padding-left: 35px;
    margin-bottom: 30px;
}

.white-box .main2 .sec1 ul li{
    margin-top: 18px;

}

.white-box .main2 .sec2{
    background-color: rgba(255,0,0,0.1);
    border-radius: 10px;
    width: 40%; 

}

.white-box .main2 .sec2 p{
    background-color: rgba(255,0,0,0.3);
    font-size: 20px;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(230, 8, 8);
    font-weight: 600;
}

.white-box .main2 .sec2 ul{
    
    font-size: 15px;
    margin-top: 25px;
    padding-left: 35px;
    margin-bottom: 30px;
}

.white-box .main2 .sec2 ul li{
    margin-top: 18px;
}

.white-box .heading p{
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    padding: 20px;
    color: white;
    text-align: center;
}
.white-box .foot{
    background-color: rgba(255,255,0,0.2);
    padding: 20px;
    border: 2px solid yellow;
    color: yellow; 
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    width: 80%;
}



.white-box a{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.white-box button{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    background-color:  #111827;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease ;
    cursor: pointer;
}

.white-box button:hover{
    transform: scale(1.1);
}

@media(max-width: 800px){

    .white-box .main2{
         flex-direction: column;
         align-items: center;
    }

    .white-box .main2 .sec1{
        width: 90%;
        margin: 20px auto;
    }

    .white-box .main2 .sec2{
        width: 90%;
        margin: 20px auto;
    }

    .white-box .main2 .sec1 p{
        margin-left: 0;
        text-align: center;
    }

    .white-box .main2 .sec2 p{
        margin-left: 0;
        text-align: center;
    }
}


.rinl-footer {
  background-color: #000;
  color: #ffffff;
  
  padding: 50px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;

  border-top: 2px solid darkgray;
}

.rinl-footer .footer-section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rinl-footer a {
  color: #dddddd;
  text-decoration: none;
  margin: 0 8px;
  margin-top: 10px;
}

.rinl-footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}




@media(max-width: 768px){
    .rinl-footer{
       flex-direction: column;    
    }
}