*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
     background-image: url("plant.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; 
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media(max-width: 768px){
    body{
        background-size: cover;
        background-position: center;
    }
}
header{
    width: 100%;
    height: 70px;
    color:  white;
    background-color: rgba(255,255,255, 0.2);
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container_1 .logo img{
   height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    border: black 1px solid;
    align-items: center;
}

.container_1 .logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  white;
    font-size: 20px;
    font-weight: 500;
    display: flex;
   align-items: center;


}

.container_1 p{
    display: none;
}


.container_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_1 .menu-button {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.container_1 .signin{
    margin-right: 20px;

}

.container_1 .signin button{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
    
    background-color: rgba(0,0,0,0.3);
    border: none;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.4s ease;
}

.container_1 .signin button:hover{
    transform: scale(1.1);
}

.container_1 .signin button a{
    text-decoration: none;
    list-style: none;
    color: white;
}

.container_1 .sec {
    display: flex;
    gap: 100px;
    justify-content: space-around;
}

.container_1 .sec a {
     color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border: 1px color blue;
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
    border-radius: 25px;
}


.container_1 .sec button{
    background-color: rgba(0,0,0,0);
    border: none;
}
@media (max-width: 768px) {
    .container_1 .sec {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

     .container_1 p{
        display: block;
    }

    .container_1 .sec.active {
        display: flex;
    }

    .container_1 .menu-button {
        display: block;
        padding-right: 20px;
    }
    
    .container_1 .sec a {
        color: white;
    }

    .container_1 .signin{
        display: none;
    }
}
.container_1 .sec a:hover {
    background-color: rgba(0,0,0,0.3);
    
    transform: scale(1.1);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}
.circle{
   width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;              
    align-items: center;        
    justify-content: space-evenly;
    transition: all 0.3s ease;   
}

.circle:hover{
    transform: scale(1.2);
}

.c1{
    background-color:green;
    color: white;
}



.c2{
    background-color: green;
    color: white;
}
.c3{
    background-color: green;
    color: white;
}
.c4{
    background-color: green;
    color: white;
}

.c5{
    background-color: green;
    color: white;
}
.c6{
    background-color: blue;
    color: white;
}

section .ball {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    padding: 10px;
}


section .ball .ball1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
}


section .ball p {
    margin-top: 10px;
    font-weight: 500;
    color:white;
}

@media (max-width: 800px) {
    section .ball {
        gap: 20px;
    }

    section .ball .ball1 {
        width: 100px;
    }

    .circle {
        width: 50px;
        height: 50px;
        font-size: 18px;
    }
}

.white-box {
    width: 98%;
    margin: 50px auto 0 auto;
    padding-bottom: 70px;
    border-radius: 10px;
    height: 750px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    margin-bottom: 40px;
    background-color: rgba(240, 248, 255,0.2);
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.white-box .id-card {
    width: 90%;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto; 
}

.white-box .heading p{
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    color:  black;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .white-box{
     width: 98%;
    margin: 50px auto 0 auto;
    padding-bottom: 40px;
    border-radius: 10px;
    height: 750px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     background-color: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(10px);
    color: white;
    margin-bottom: 40px;
}

.white-box .id-card {
  width: 90%;
  border-radius: 10px;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgba(0, 0, 0, 0.5); 
  
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
 
} */

.white-box .id-card-header {
  background-color: #003366;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 10px;
  width: auto;
  padding: 35px;
  padding-bottom: 30px;
  border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.white-box  .id-card-header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 13px;
    border: 8px solid white;
}




.white-box .header-text h1 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.white-box .header-text h2 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 2px;
}

.white-box .id-card-body {
  display: flex;
  padding: 16px;
  flex-direction: column;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: auto;
  padding: 25px;
  padding-bottom: 30px;
  border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.white-box .photo-section {
  flex-shrink: 0;
}

.white-box .photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  
}

.white-box .details-section {
  flex-grow: 1;
  background-color: 
}

.white-box .details-section p {
  margin: 4px 0;
  font-size: 18px;
  margin-top: 10px;
  color: black;
}

.white-box .details-section .mainname{
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-align: center;

    margin: 0 auto;
    display: flex;
    justify-content: center;
   padding-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.white-box .id-card-body{
    background-color: white;
}


.white-box .details-section p span{
    color: black;
}

.white-box .id-card-footer {
  background-color: #f2f2f2;
  padding: 8px 12px;
  font-size: 12px;
  text-align: center;
  color: #333;
  border-top: 1px solid #ccc;
  width: 100%;
}



.rinl-footer {
  background-color: #000;
  color: #ffffff;
  
  padding: 50px;
  
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;

  border-top: 2px solid darkgray;
}

.rinl-footer .footer-section {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.rinl-footer a {
  color: #dddddd;
  text-decoration: none;
  margin: 0 8px;
  margin-top: 10px;
}

.rinl-footer a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #fff;
    transition:  0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}

.rinl-footer a::after:hover{
    transform: scaleX(1);
}

.rinl-footer a:hover {
  
  color: #ffffff;
  text-decoration: underline;
}




@media(max-width: 768px){
    .rinl-footer{
       flex-direction: column;    
    }
}